<div id="sliderWraper">
  <div id="featuredSlider" class="flexslider">
    <ul class="slides">
      <li>
      <%= image_tag "assets/gr-skyline-1.jpg", :width => "1600", :height => "1200", :alt => "Grand Rapids Skyline" %>
      <div class="featured-wraper container container-twelve">
        <div class="featured-content seven columns">
          <h1 class="featured-title">GR GiveCamp 2013</h1>
          <div class="featured-entry">
            <p>GiveCamp exists as a way to channel the raw energy and passion for development towards something that will benefit local communities. <a href="about.html">Learn More &rarr;</a></p>
          </div><!-- .featured-entry-->
        </div><!-- .featured-content -->
      </div><!-- .featured-wraper -->
      </li>
      <li>
      <%= image_tag "assets/gr-skyline-2.jpg", :width => "1600", :height => "1200", :alt => "Grand Rapids Skyline" %>
      <div class="featured-wraper container container-twelve">
        <div class="featured-content seven columns">
          <h1 class="featured-title">Volunteers</h1>
          <div class="featured-entry">
            <p>Ready to connect with the local tech community for a good cause? GiveCamp needs your support and skills. <a href="volunteers.html">Get Involved &rarr;</a></p>
          </div><!-- .featured-entry-->
        </div><!-- .featured-content -->
      </div><!-- .featured-wraper -->
      </li>

      <!--
      <li>
      <%= image_tag "assets/gr-skyline-3.jpg", :width => "1600", :height => "1200", :alt => "Grand Rapids Skyline" %>
      <div class="featured-wraper container container-twelve">
        <div class="featured-content seven columns">
          <h1 class="featured-title">Non-Profits</h1>
          <div class="featured-entry">
            <p>Does your non-profit need a new website? Time to escape those Excel spreadsheets and get a real donor database? Trying to figure out how to build your social media presence? GiveCamp is for you. <a href="non-profits.html">Apply Now &rarr;</a></p>
          </div>
        </div>
      </div>
      </li>
      <li>
      <%= image_tag "assets/gr-skyline-3.jpg", :width => "1600", :height => "1200", :alt => "Grand Rapids Skyline" %>
      <div class="featured-wraper container container-twelve">
        <div class="featured-content seven columns">
          <h1 class="featured-title">Non-Profits</h1>
          <div class="featured-entry">
            <p>Does your non-profit need a new website? Time to escape those Excel spreadsheets and get a real donor database? Trying to figure out how to build your social media presence? GiveCamp is for you. <a href="non-profits.html">Apply Now &rarr;</a></p>
          </div>
        </div>
      </div>
      </li>
      -->
    </ul>
  </div>
</div><!-- #sliderWraper -->

<div id="twitterWraper">
  <div class="container container-twelve">
    <div id="tweet" class="nine columns">
    </div><!-- .nine -->
    <div id="topSocial" class="three columns">
      <ul>
        <li class="topTwitter"><a href="https://twitter.com/grgivecamp">Twitter</a></li>
        <li class="topFacebook"><a href="https://www.facebook.com/GRGiveCamp">Facebook</a></li>
      </ul>
    </div><!-- three -->
  </div><!-- .container -->
</div><!-- #twitterWraper -->

<div class="container container-twelve">
  <div id="counter-container" class="twelve columns container-box">
    <div class="eight columns alpha">
      <div class="container-box-inner em-large">
        <p>This year's GiveCamp is November 8-10th<br/> at The Factory, Grand Rapids.</p>
      </div>
    </div>
    <div class="four columns omega">
      <div class="container-box-inner">
        <p class="register" style="padding: 1em 0 0;"><a href="register-volunteers.html">Register Now</a></p>
      </div>
    </div>
  </div><!-- .twelve -->
  <div class="clear"></div>
  <div class="box-bottom bottom-full"></div>		

  <div class="eight columns">
    <div class="container-box">
      <div class="container-box-inner">
        <h2 class="heading"><span>What is GiveCamp all about?</span></h2>
        <ul class="check">
          <li>Does your non-profit need a new website? </li>
          <li>Time to escape those Excel spreadsheets and get a real donor database?</li>
          <li>Trying to figure out how to build your social media presence?</li>
        </ul>
        <p>GiveCamp is a weekend-long event where software developers, designers, and database administrators donate their time to create custom software for non-profit organizations. </p>
      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-main"></div>
  </div><!-- .eight -->

  <div class="four columns">
    <div class="container-box">
      <div class="container-box-inner">
        <%= partial "partials/twitter", :locals => { :count => 2 } %>
      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-sidebar"></div>
  </div><!-- .four -->

  <div class="twelve columns">
    <div class="container-box">
      <div class="container-box-inner">
        <h2 class="heading"><span>The Factory</span></h2>
        <%= image_tag "assets/factory-space-1.jpg", :class => "left" %>
        <div class="em-large">
          <p>The Factory is a coworking community in downtown Grand Rapids, MI</p>
        </div>
        <p>Our downtown Grand Rapids, MI space is intentionally designed for spontaneous meetings, solo heads down time, and group work sessions. Oh, and just like your house, the most interesting conversations usually happen around the kitchen island. <a href="venue.html">Read More &rarr;</a></p>
      </div>
    </div><!-- .container-box -->
    <div class="box-bottom bottom-full"></div>
  </div><!-- .twelve -->
</div><!-- container -->
