<div id="page" class="container container-twelve clearfix">

  <div class="container-box">
    <div class="container-box-inner">

      <h1 class="heading"><span>Our Partners</span></h1>
      <p class='em-medium'>In order to keep the attendance free and allow the greatest impact through our volunteers, we rely on sponsors to help cover the costs of the event, specifically the costs of food and beverage for all of the volunteers.</p>
      <p class="em-medium"><a href="/images/assets/GRGiveCamp2014_Sponsorship_Prospectus.pdf" target="">GR GiveCamp 2014 Sponsorship Prospectus</a></p>
      <div class="lineDivider"></div>

      <h2>Premier Sponsor</h2><br />
      <a href="http://c2experience.com/" rel="external" target="_blank"><%= image_tag "assets/sponsors/c2group.png", :alt => "The C2 Group", :class => "premier_sponsor_logo" %></a>
      <p>&nbsp;</p>
      <p>The C2 Group is just shy of 30 talented experts that create for compelling video, web and apps for z`clients across the globe. They make no bones about our love of technology, but it's still just a delivery mechanism for their real passion: creating authentic connections and helping their clients communicate effectively.</p>
      <p class='right'><a href="http://c2experience.com/" rel="external" target="_blank">Visit them at c2experience.com.</a></p>
      <div class="clearDivider"></div>

      <h3>Champion Sponsors</h3><br />
      <a href="http://www.cqlcorp.com/" rel="external" target="_blank"><%= image_tag "assets/sponsors/cqlcorp.png", width: 250, :alt => "CQL", class: "left" %></a>
      <p>We deliver global e-commerce platforms, integrated mobile applications, enterprise technology systems and help launch software ventures, all with top-notch local talent based in the Grand Rapids area of West Michigan.</p>
      <p class='right'>
        <a href="http://www.cqlcorp.com" rel="external" target="_blank">Visit them at cqlcorp.com.</a>
      </p>
      <div class="clearDivider"></div>

      <a href="http://ostusa.com" rel="external" target="_blank"><%= image_tag "assets/sponsors/ost.png", width: 250, alt: "OST", class: "left" %></a>
      <p>The sharpest minds in the industry. A wide breadth of expertise. A proven track record of big picture thinking among the biggest corporate players. All of the above plus, we're genuine, likable people you can trust. Yes, we'd like your business, but more importantly, it's your confidence that means the most to us. And we'd like to earn it for the long haul.</p>
      <p class='right'>
        <a href="http://ostusa.com" rel="external" target="_blank">Visit them at ostusa.com.</a>
      </p>
      <div class="clearDivider"></div>

      <a href="http://www.meijer.com" rel="external" target="_blank"><%= image_tag "assets/sponsors/meijer.png", width: 250, alt: "Meijer", class: "left" %></a>
      <p>Meijer is a family business. We believe in treating each other with dignity and respect. We are committed to strengthening the communities we serve.</p>
      <p class='right'>
        <a href="http://www.meijer.com" rel="external" target="_blank">Visit them at meijer.com.</a>
      </p>
      <div class="clearDivider"></div>
      <div class="lineDivider"></div>

      <h4>Foundation Sponsors</h4><br />


      <div class="one_third first">
        <%= image_tag "assets/sponsors/softwaregr.png", height: 200, alt: "Software GR" %>
        <p>
          <a href="http://softwaregr.org/" rel="external" target="_blank">Visit them at softwaregr.org.</a>
        </p>
      </div>
      <div class="one_third">
        <%= image_tag "assets/sponsors/atomic-object.png", height: 200, alt: "Atomic Object" %>
        <p>
          <a href="http://atomicobject.com/" rel="external" target="_blank">Visit them at atomicobject.com.</a>
        </p>
      </div>
      <div class="one_third last" style="padding-top: 4em;">
        <%= image_tag "assets/sponsors/bluesphere.png", :width => 250, :alt => "Blue Sphere Solutions" %>
        <p style="padding-top: 5em;">
          <a href="http://bluesphereinc.com/" rel="external" target="_blank">Visit them at bluesphereinc.com.</a>
        </p>
      </div>
      <div class="clearDivider"></div>

      <div class="two_third first" style="padding-top: 5em; height: 200px;">
        <%= image_tag "assets/sponsors/mutuallyhuman.png", height: 100, alt: "Mutually Human" %>
        <p>
          <a href="http://www.mutuallyhuman.com/" rel="external" target="_blank">Visit them at mutuallyhuman.com.</a>
        </p>
      </div>
      <div class="clearDivider"></div>
      <div class='lineDivider'></div>

      <h4>With special thanks to:</h4><br />
      <div class="one_third">
        <a href="http://www.amway.com/" rel="external" target="_blank"><%= image_tag "assets/sponsors/amway.jpg", :width => 250, :alt => "Amway" %></a>
      </div>
      <div class="one_third">
        <a href="http://www.chopandhue.com/" rel="external" target="_blank"><%= image_tag "assets/sponsors/chophue.png", :width => 200, :alt => "Chop and Hue" %></a>
      </div>
      <div class="one_third last">
        <a href="http://834design.com/" rel="external" target="_blank"><%= image_tag "assets/sponsors/834design.png", :width => 250, :alt => "834 Design" %></a>
      </div>


      <div class="clearDivider"></div>
    </div><!-- .container-box-inner -->
  </div><!-- .container-box -->
  <div class="box-bottom bottom-full"></div>
</div><!-- container -->

