<div id="page" class="container container-twelve clearfix">

  <div class="container-box">
    <div class="container-box-inner">

      <h1 class="heading"><span>Our Partners</span></h1>
      <p class='em-medium'>In order to keep the attendance free and allow the greatest impact through our volunteers, we rely on sponsors to help cover the costs of the event, specifically the costs of food and beverage for all of the volunteers.</p>
      <div class="lineDivider"></div>

      <h2>Champion Sponsors</h2><br />
      <a href="http://bluesphereinc.com/" rel="external" target="_blank"><%= image_tag "assets/sponsors/bluesphere.png", :width => 250, :alt => "Blue Sphere Solutions", class: "left" %></a>
      <p>Since 1999, Blue Sphere Solutions has been delivering software solutions. Our offices are located in Chicago and Grand Rapids. We work with a wide range of clients, from start-ups to enterprises, to deliver software that creates business value.</p>
      <p class='right'><a href="http://bluesphereinc.com" rel="external" target="_blank">Visit them at bluesphereinc.com.</a></p>
      <div class="clearDivider"></div>

      <a href="http://www.cqlcorp.com/" rel="external" target="_blank"><%= image_tag "assets/sponsors/cqlcorp.png", width: 250, alt: "CQL", class: "left" %></a>
      <p>We deliver global e-commerce platforms, integrated mobile applications, enterprise technology systems and help launch software ventures, all with top-notch local talent based in the Grand Rapids area of West Michigan.</p>
      <p class='right'>
        <a href="http://www.cqlcorp.com" rel="external" target="_blank">Visit them at cqlcorp.com.</a>
      </p>
      <div class="clearDivider"></div>
      
      <a href="http://ostusa.com" rel="external" target="_blank"><%= image_tag "assets/sponsors/ost.png", width: 250, alt: "OST", class: "left" %></a>
      <p>The sharpest minds in the industry. A wide breadth of expertise. A proven track record of big picture thinking among the biggest corporate players. All of the above plus, we're genuine, likable people you can trust. Yes, we'd like your business, but more importantly, it's your confidence that means the most to us. And we'd like to earn it for the long haul.</p>
      <p class='right'>
        <a href="http://ostusa.com" rel="external" target="_blank">Visit them at ostusa.com.</a>
      </p>
      <div class="clearDivider"></div>
      <div class="lineDivider"></div>

      <h3>Foundation Sponsors</h3><br />
      <div class="one_third">
        <%= image_tag "assets/sponsors/bevelwise.jpg", height: 200, alt: "Bevelwise" %>
        <p>
          <a href="http://www.bevelwise.com/" rel="external" target="_blank">Visit them at bevelwise.com.</a>
        </p>
      </div>
      <div class="one_third">
        <%= image_tag "assets/sponsors/grcf.jpg", height: 200, alt: "Grand Rapids Community Foundation" %>
        <p>
          <a href="http://www.grfoundation.org/" rel="external" target="_blank">Visit them at grfoundation.org.</a>
        </p>
      </div>
      <div class="one_third last">
        <%= image_tag "assets/sponsors/softwaregr.png", height: 200, alt: "Software GR" %>
        <p>
          <a href="http://softwaregr.org/" rel="external" target="_blank">Visit them at softwaregr.org.</a>
        </p>
      </div>
      <div class="clearDivider"></div>
      <div class="one_third last">
        <%= image_tag "assets/sponsors/i3bus.jpg", height: 120, alt: "i3 Business Solutions" %>
        <p>
          <a href="http://www.i3bus.com/" rel="external" target="_blank">Visit them at i3bus.com.</a>
        </p>
      </div>
      <div class="two_third" style="padding-top: 1em;">
        <%= image_tag "assets/sponsors/mutuallyhuman.png", height: 100, alt: "Mutually Human" %>
        <p>
          <a href="http://www.mutuallyhuman.com/" rel="external" target="_blank">Visit them at mutuallyhuman.com.</a>
        </p>
      </div>
      <div class="clearDivider"></div>
      <div class='lineDivider'></div>

      <h4>With special thanks to:</h4><br />
      <div class="one_third">
        <a href="https://www.amway.com/" rel="external" target="_blank"><%= image_tag "assets/sponsors/amway.jpg", :width => 250, :alt => "Amway" %></a>
      </div>
      <div class="one_third">
        <a href="http://www.azulstar.com/" rel="external" target="_blank"><%= image_tag "assets/sponsors/azulstar.jpg", :width => 250, :alt => "AzulStar" %></a>
      </div>
      <div class="one_third last">
        <a href="https://workthefactory.com/" rel="external" target="_blank"><%= image_tag "assets/sponsors/thefactory.jpg", :width => 200, :alt => "The Factory" %></a>
      </div>


      <div class="clearDivider"></div>
    </div><!-- .container-box-inner -->
  </div><!-- .container-box -->
  <div class="box-bottom bottom-full"></div>
</div><!-- container -->

